.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-link {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: #c9c7c7;
  text-decoration: none;
}
.navigation-links1-link1 {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-left: var(--dl-space-space-twounits);
  border-color: #efdfdf;
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
}




















@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.contact-container {
  width: 100%;
  display: flex;
  padding: 0px;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: circle;
  background-color: #ffffff;
  list-style-image: none;
  list-style-position: outside;
}
.contact-header {
  width: 100%;
  height: 149px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.contact-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.contact-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.contact-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.contact-navlink {
  display: contents;
}
.contact-text {
  text-decoration: none;
}
.contact-navlink1 {
  display: contents;
}
.contact-text1 {
  color: #000000;
  font-size: 3em;
  align-self: flex-start;
  font-style: normal;
  font-family: Roboto;
  font-weight: 900;
  border-color: var(--dl-color-gray-black);
  border-style: inset;
  border-width: 5px;
  text-transform: uppercase;
  text-decoration: none;
}
.contact-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-burger-menu {
  display: none;
}
.contact-icon01 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.contact-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-image {
  height: 2rem;
}
.contact-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon03 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-icon05 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon07 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon09 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-form {
  left: left;
  width: 552px;
  bottom: 400px;
  height: 115px;
  position: absolute;
}
.contact-icon11 {
  top: 1px;
  fill: #0e76a8 ;
  left: 150px;
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  position: absolute;
  text-decoration: none;
}
.contact-icon13 {
  top: 0px;
  fill: #DB4437;
  left: 300px;
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  position: absolute;
  text-decoration: none;
}
.contact-icon15 {
  top: 0px;
  left: 450px;
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  position: absolute;
  text-decoration: none;
}
.contact-icon17 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  text-decoration: none;
}
.contact-text2 {
  top: 300px;
  left: 0px;
  right: 0px;
  width: 183px;
  margin: auto;
  position: absolute;
}
@media(max-width: 767px) {
  .contact-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-nav {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .contact-header {
    padding: var(--dl-space-space-unit);
  }
  .contact-mobile-menu {
    padding: 16px;
  }
}
