<div>
  <link href="./navigation-links1.css" rel="stylesheet" />
  <nav class="navigation-links1-nav">
    <a
      href="https://drive.google.com/file/d/1VnJqSIwnG5l4F5n1myMJ_iZ90eJWdlmM/view?usp=sharing"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links1-link button"
    >
      <span>Resume</span>
    </a>
    <a
      href="https://github.com/tarekfouad97"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links1-link1 button"
    >
      <span>Projects</span>
    </a>
  </nav>
</div>
