.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-link {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: #c9c7c7;
  text-decoration: none;
}
.navigation-links1-link1 {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-left: var(--dl-space-space-twounits);
  border-color: #efdfdf;
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
}




















@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
